In [1]:
## Importing the libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Setting directory (file path) to access dataset
data_dir=r"C:\Users\Ishita Malhotra\Downloads\IPBA Sessions\Classification and Regression Trees"
os.chdir(data_dir)

In [3]:
#Importing the dataset
dataset = pd.read_csv('dm.csv')

In [7]:
X=dataset.drop(["Cust_Id" ,"AmountSpent"],axis=1)

In [8]:
X.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs
0,Old,Female,Own,Single,Far,47500,0,High,6
1,Middle,Male,Rent,Single,Close,63600,0,High,6
2,Young,Female,Rent,Single,Close,13500,0,Low,18
3,Middle,Male,Own,Married,Close,85600,1,High,18
4,Middle,Female,Own,Single,Close,68400,0,High,12

In [9]:
X=pd.get_dummies(X)

In [10]:
X.head()

,Salary,Children,Catalogs,Age_Middle,Age_Old,Age_Young,Gender_Female,Gender_Male,OwnHome_Own,OwnHome_Rent,Married_Married,Married_Single,Location_Close,Location_Far,History_High,History_Low,History_Medium
0,47500,0,6,0,1,0,1,0,1,0,0,1,0,1,1,0,0
1,63600,0,6,1,0,0,0,1,0,1,0,1,1,0,1,0,0
2,13500,0,18,0,0,1,1,0,0,1,0,1,1,0,0,1,0
3,85600,1,18,1,0,0,0,1,1,0,1,0,1,0,1,0,0
4,68400,0,12,1,0,0,1,0,1,0,0,1,1,0,1,0,0

In [11]:
Y=dataset['AmountSpent']

In [12]:
Y.head()

0     755
1    1318
2     296
3    2436
4    1304
Name: AmountSpent, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 200)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

In [ ]:
print(Y_train)

In [ ]:
print(Y_test)

In [14]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(max_depth=3, random_state = 200)
regressor.fit(X_train, Y_train)
regressor.score(X_test, Y_test)

0.5915701153457273

In [15]:
regressor.feature_importances_

array([0.68060902, 0.        , 0.17771448, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03685946,
       0.04537282, 0.05944422])

In [16]:
pd.Series(regressor.feature_importances_,index=X.columns).sort_values(ascending=False).head()

Salary            0.680609
Catalogs          0.177714
History_Medium    0.059444
History_Low       0.045373
History_High      0.036859
dtype: float64

In [17]:
from matplotlib import pyplot as plt
plt.figure(figsize=(12,12))
sklearn.tree.plot_tree(regressor, feature_names=X.columns,class_names=['0','1'], fontsize=8)
plt.show()

NameError: name 'sklearn' is not defined