In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:\\Test Cases\\Sample_Ref_MIS.csv")
data.head(5)

In [2]:
data.columns

Index(['lead_id', 'user_id', 'first_name', 'phone_home',
       'offer_application_number', 'offer_reference_number',
       'first_profile_date', 'profile_id', 'customer_type', 'applied_date',
       'send_to_lender_date', 'not_interested_date', 'date_of_referral',
       'feedback_received_date', 'aip_approval_date', 'booking_date',
       'send_to_lender_oic', 'not_int_oic', 'date_of_referral_oic', 'product',
       'sku_slug', 'loan_amount', 'tenor', 'emi', 'loan_disbursed_amount',
       'assigned_oic', 'product_status', 'appops_status_code',
       'document_status', 'appointment_date', 'followup_date', 'utm_source',
       'utm_term', 'utm_medium', 'utm_campaign', 'dsa_name',
       'profiled_utm_source', 'alliance_flag', 'nw_flag', 'device_type',
       'device_name', 'login_date', 'modified_ts', 'inserted_at', 'lender',
       'latest_crm', 'pass_423', 'pass_280', 'pass_300', 'pass_390',
       'pass_stage1_reject_stage', 'pass_490', 'pass_690', 'pass_270',
       'has_received_feedback', 'attempts', 'effective_attempts', 'crm_210',
       'profile_vintage', 'nth', 'pat', 'employment_type', 'city',
       'itr_net_take_home', 'state', 'points_sku', 'residential_pincode',
       'description', 'is_rbl_cc_api_approved', 'is_sbi_cc_api_approved',
       'lender_notes', 'lender_reject_reason', 'sku', 'first_oic',
       'credit_score', 'regeneration_consent', 'tkn', 'regen_lead_count',
       'regen_lenders', 'regen_sku', 'regen_leads', 'ref_oic', 'attribution',
       'name', 'team', 'oic_type', 'is_secondary_sale', 'is_primary_sale',
       'is_aip_approved'],
      dtype='object')

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14683 entries, 0 to 14682
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lead_id                   14683 non-null  int64
 1   user_id                   14683 non-null  int64
 2   first_name                14683 non-null  object
 3   phone_home                14683 non-null  int64
 4   offer_application_number  14683 non-null  object
 5   offer_reference_number    4504 non-null   object
 6   first_profile_date        14683 non-null  object
 7   profile_id                14683 non-null  int64
 8   customer_type             14683 non-null  object
 9   applied_date              14683 non-null  object
 10  send_to_lender_date       9584 non-null   object
 11  not_interested_date       7 non-null      object
 12  date_of_referral          9584 non-null   object
 13  feedback_received_date    4777 non-null   object
 14  aip_approval_date         2154 non-null   object
 15  booking_date              171 non-null    object
 16  send_to_lender_oic        9584 non-null   object
 17  not_int_oic               7 non-null      object
 18  date_of_referral_oic      9584 non-null   object
 19  product                   14683 non-null  object
 20  sku_slug                  14670 non-null  object
 21  loan_amount               769 non-null    float64
 22  tenor                     1053 non-null   float64
 23  emi                       1053 non-null   float64
 24  loan_disbursed_amount     14677 non-null  float64
 25  assigned_oic              14683 non-null  object
 26  product_status            14670 non-null  object
 27  appops_status_code        14683 non-null  int64
 28  document_status           14677 non-null  object
 29  appointment_date          379 non-null    object
 30  followup_date             9941 non-null   object
 31  utm_source                14678 non-null  object
 32  utm_term                  9922 non-null   object
 33  utm_medium                10633 non-null  object
 34  utm_campaign              2525 non-null   object
 35  dsa_name                  109 non-null    object
 36  profiled_utm_source       11636 non-null  object
 37  alliance_flag             342 non-null    float64
 38  nw_flag                   278 non-null    float64
 39  device_type               8790 non-null   object
 40  device_name               8790 non-null   object
 41  login_date                14678 non-null  object
 42  modified_ts               14683 non-null  object
 43  inserted_at               14683 non-null  object
 44  lender                    14670 non-null  object
 45  latest_crm                2059 non-null   object
 46  pass_423                  14683 non-null  int64
 47  pass_280                  14683 non-null  int64
 48  pass_300                  14683 non-null  int64
 49  pass_390                  14683 non-null  int64
 50  pass_stage1_reject_stage  14683 non-null  int64
 51  pass_490                  14683 non-null  int64
 52  pass_690                  14683 non-null  int64
 53  pass_270                  14683 non-null  int64
 54  has_received_feedback     14683 non-null  int64
 55  attempts                  14683 non-null  int64
 56  effective_attempts        14683 non-null  int64
 57  crm_210                   0 non-null      float64
 58  profile_vintage           14683 non-null  object
 59  nth                       14041 non-null  float64
 60  pat                       1227 non-null   float64
 61  employment_type           14268 non-null  object
 62  city                      14376 non-null  object
 63  itr_net_take_home         1084 non-null   float64
 64  state                     14681 non-null  object
 65  points_sku                14683 non-null  int64
 66  residential_pincode       14264 non-null  float64
 67  description               221 non-null    object
 68  is_rbl_cc_api_approved    14683 non-null  int64
 69  is_sbi_cc_api_approved    14683 non-null  int64
 70  lender_notes              4781 non-null   object
 71  lender_reject_reason      4709 non-null   object
 72  sku                       14670 non-null  object
 73  first_oic                 4024 non-null   object
 74  credit_score              14683 non-null  object
 75  regeneration_consent      451 non-null    object
 76  tkn                       14681 non-null  object
 77  regen_lead_count          14683 non-null  int64
 78  regen_lenders             12955 non-null  object
 79  regen_sku                 12955 non-null  object
 80  regen_leads               13253 non-null  object
 81  ref_oic                   14682 non-null  object
 82  attribution               14683 non-null  object
 83  name                      3 non-null      object
 84  team                      3 non-null      object
 85  oic_type                  3 non-null      object
 86  is_secondary_sale         14683 non-null  int64
 87  is_primary_sale           14683 non-null  int64
 88  is_aip_approved           14683 non-null  int64
dtypes: float64(11), int64(23), object(55)
memory usage: 10.0+ MB
None

In [4]:
pivot=pd.pivot_table(data,
                     values='lead_id',
                     index=['lender'],
                     columns='appops_status_code',aggfunc='count',margins=True,margins_name='total')
pivot=pivot.fillna(0).astype(np.int64)
pivot

appops_status_code,140,150,200,210,240,270,280,300,350,360,...,460,480,490,500,580,590,680,690,990,total
lender,,,,,,,,,,,,,,,,,,,,,
AXIS BANK,0,2,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,4
Bajaj Finserve,0,1,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
CITI,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
CashE,19,0,0,2,10,0,1,0,0,0,...,0,37,71,4,1,6,1,0,1,1794
EARLYSALARYPL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
Early Salary,0,3406,0,0,317,0,0,0,0,0,...,0,0,0,3,543,0,0,148,9,7967
FLEXILOAN,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
Faircent,0,0,0,0,0,1,0,23,0,0,...,0,7,0,0,0,0,0,0,1,100
Finzy,0,2,0,0,44,0,0,0,0,0,...,16,11,0,0,0,0,0,0,0,202
HDFC,0,1,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,3
HDFCEMERGINGMARKET,0,0,0,0,0,0,0,0,3,1,...,0,0,0,0,0,0,0,0,0,4
HFFC,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
HOME CREDIT,0,0,0,0,0,13,0,0,0,0,...,0,2,0,0,0,0,0,0,0,24
IDFC,120,19,0,0,53,1,0,20,0,0,...,0,0,0,0,0,0,0,0,0,213
KREDITBEE,0,0,0,0,0,159,0,0,0,0,...,0,2,4,0,0,2,0,0,8,2331
Lending Kart,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,13
MONEYVIEW,10,0,0,3,0,158,0,0,0,0,...,0,0,10,0,0,7,0,0,3,1689
MUTHOOT,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,5
PNB,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Paysense,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
RBL,0,0,0,1,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,34
SBI,1,0,0,0,1,3,0,0,0,0,...,0,0,0,0,0,0,1,0,0,8
Shriram,0,0,2,0,0,8,0,15,1,8,...,0,0,0,0,0,0,0,0,0,53
Smart Coin,0,2,0,0,0,17,0,0,0,0,...,0,0,1,0,0,0,0,0,0,23
Sme Corner,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
Triti,5,0,0,0,1,19,0,9,19,20,...,0,0,1,0,0,0,0,0,0,164
Upwards,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
Yes Bank,0,0,0,0,0,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
total,155,3435,2,6,432,396,1,67,25,31,...,16,63,87,7,544,15,2,148,23,14670

In [ ]:
#pivot=pd.pivot_table(data,
                     values='lead_id',
                     index=['applied_date','dsa_name'],
                     columns='appops_status_code',aggfunc='count',margins=True,margins_name='total')
pivot=pivot.fillna(0).astype(np.int64)
pivot
filtered = pivot[pivot['ref_oic'] == 'Regeneration']
Lead_Gen = pd.pivot_table(filtered, index = filtered['applied_date'], columns = 'lender', values = 'lead_id', aggfunc='count')
Lead_Gen

In [ ]:
# Plot
sns.catplot(x="age", y="embark_town",
            hue="sex", col="class",
            data=titanic[titanic.embark_town.notnull()],
            orient="h", height=5, aspect=1, palette="tab10",
            kind="violin", dodge=True, cut=0, bw=.2)